<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="show">Puedes verme</p>
        <p v-else>No puedes verme</p>
        <button @click="show = !show">click me!</button>
        <hr>
        <template v-if="show">
            <a>Inside template</a>
        </template>
    </div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true
            }
        })
    </script>
</body>
</html>